<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
		<link href="../../css/bootstrap-theme.css" rel="stylesheet">
		<!--<link rel="stylesheet" type="text/css" href="../../css/style.css">-->
		<script src="../../js/jquery.js"></script>
		<script src="../../js/public.js"></script>
		<script src="../../js/bootstrap.js"></script>
		<script src="../../bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
		<script src="../../bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
		<link  href="../../bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.css" rel="stylesheet" media="screen">
		<style>
			body *{
				/*border:1px solid red;*/
			}
			.subject_row{
				margin: 10px 0;
				overflow: hidden;
			}
		</style>
	</head>
	<body>
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">当前位置：模拟考试管理>模拟考试模板>查看模板</h3>
		  </div>
		  <div class="panel-body">
		  	<!--内容区域-->
		  	<div class="row">
		  		<div class="col-xs-4 col-lg-offset-3">
	  				<form class="form-horizontal" id="" enctype="multipart/form-data" method="post">
					  <div class="form-group">
					    <label class="col-xs-3 control-label" for="">科目</label>
					    <div class="col-xs-9">
					    	<select disabled="disabled" id="sub_select" class="form-control">
					    		
					    	</select>
					    	
					    </div>
					  </div>
					  <div class="form-group">
					    <label class="col-xs-3 control-label" for="">模板名称</label>
					    <div class="col-xs-9 form-control-static">
					    	name
					    </div>
					  </div>
					  <div class="form-group">
					    <label class="col-xs-3 control-label" for="">试卷分数</label>
					    <div class="col-xs-9 form-control-static">
					    	100
					    </div>
					  </div>
					  
					  <div class="form-group">
					    <label class="col-xs-3 control-label" for="">描述</label>
					    <div class="col-xs-9 form-control-static">
					    	描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述
					    </div>
					  </div>
					  
					</form>
		  		</div>
		  		<div class="col-xs-12">
		  			<form class="form-inline" id="sub_row_info" enctype="multipart/form-data" method="post">
		  				<div class="subject_row">
			  				<div class="form-group col-xs-3">
							    <label>题号：</label>
							    <div class="form-control-static">
							    	12
							    </div>
							</div>
							<div class="form-group col-xs-3">
							    <label>题型：</label>
							    <div class="form-control-static">
							    	题型name
							    </div>
							</div>
							<div class="form-group col-xs-3">
							    <label>分数：</label>
							    <div class="form-control-static">
							    	80
							    </div>
							</div>
						</div>
						<div class="subject_row">
			  				<div class="form-group col-xs-3">
							    <label>题号：</label>
							    <div class="form-control-static">
							    	12
							    </div>
							</div>
							<div class="form-group col-xs-3">
							    <label>题型：</label>
							    <div class="form-control-static">
							    	题型name
							    </div>
							</div>
							<div class="form-group col-xs-3">
							    <label>分数：</label>
							    <div class="form-control-static">
							    	80
							    </div>
							</div>
						</div>
						<div class="subject_row">
			  				<div class="form-group col-xs-3">
							    <label>题号：</label>
							    <div class="form-control-static">
							    	12
							    </div>
							</div>
							<div class="form-group col-xs-3">
							    <label>题型：</label>
							    <div class="form-control-static">
							    	题型name
							    </div>
							</div>
							<div class="form-group col-xs-3">
							    <label>分数：</label>
							    <div class="form-control-static">
							    	80
							    </div>
							</div>
						</div>
						
		  			</form>
		  		</div>
		  		<div class="col-xs-10 text-center">
					<button type="button" class="btn btn-default" id="revert" onclick="location='list.html'">返回</button>
		  		</div>
		  	</div>
		  </div>
		</div>
	</body>
</html>
<script>
	
	$(function(){
		//科目
        $("#sub_select").html("<option value='0'>请选择</option>"+get_sub());
		
	});
</script>